<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%= api.name %> </title>
        <meta name="description" content="<%= api.description %>">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
        <link href='//fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

        <style>
            body, h1, h2, h3 {
                font-family: 'Roboto', sans-serif;
            }

            tt, pre, code {
                font-family: Consolas, "Liberation Mono", Courier, monospace;
                background-color: transparent !important;
            }

            pre.prettyprint {
                border: 0px !important;
                background-color: #fff;
            }

            .param-type {
                font-weight: bold;
                color: rgb(0,136,47);
            }

            .required {
                color: rgb(199,37,109);
            }

            .bg-default {
                background-color: #F8F8F8;
            }

            .default, .example {
                padding-left: 10px;
            }

            .snippet {
                list-style: none;
                display: none;
            }

            .nav-rg {
                width: 262.5px;
            }

            .request {
                background-color: rgb(240,245,247);
                border-color: rgb(188, 232, 241);
            }
            .response {
                background-color: rgb(246,251,244);
                border-color: rgb(223,240,216);
            }

            @media(max-width:1024px) {
                .affix {
                    position: static;
                    width: auto;
                    top: 0;
                    padding-bottom: 20px;
                }
            }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-header">
                        <h1><%= api.name %></h1>
                        <h2 class="lead"><small><%= api.description %></small></h2>
                    </div>
                </div>

                <div class="col-md-3">
                    <ul class="nav nav-pills nav-stacked nav-rg affix" id="group-tab">
                        <% api.resourceGroups.forEach(function (resourceGroup, resourceGroup_index) { %>
                        <li>
                            <a href="#<%= dashes(resourceGroup.name) %>" data-toggle="tab">
                                <strong><%= resourceGroup.name %></strong>
                            </a>
                        </li>
                        <% }); %>
                    </ul>
                </div>

                <div class="col-md-9">
                    <div class="tab-content">
                        <% api.resourceGroups.forEach(function (resourceGroup, resourceGroup_index) { %>
                        <div class="tab-pane" id="<%= dashes(resourceGroup.name) %>">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h3 id="<%= dashes(resourceGroup.name) %>"><%= resourceGroup.name %></h3>
                                </div>
                                <div class="panel-body">
                                    <p class="lead"><small><%= resourceGroup.description %></small></p>
                                    <% resourceGroup.resources.forEach(function (resource, resource_index) { %>
                                        <% resource.actions.forEach(function (action, action_index) { %>
                                        <div class="panel panel-<%= getButtonClass(action.method) %>">
                                            <div class="panel-heading">
                                                <span class="btn btn-xs btn-<%= getButtonClass(action.method) %>"><%= action.method %></span>
                                                <code><%= resource.uriTemplate %></code>
                                            </div>

                                            <div class="panel-body">
                                                <%= action.description %>
                                            </div>

                                            <% if ( Object.keys(action.parameters).length > 0 || Object.keys(resource.parameters).length > 0 ) { %>
                                                <ul class="list-group">
                                                    <li class="list-group-item bg-default"><strong>Parameters</strong></li>
                                                    <li class="list-group-item">
                                                        <dl class="dl-horizontal">
                                                        <% if (Object.keys(action.parameters).length > 0) { %>
                                                            <% Object.keys(action.parameters).forEach(function (parameter) { %>
                                                                <dt><%= parameter %></dt>
                                                                <dd>
                                                                    <span class="param-type"><%= action.parameters[parameter].type %></span>
                                                                    <% if (action.parameters[parameter].required) { %>
                                                                    <span class="required">(required)</span>
                                                                    <% } else { %>
                                                                    <span>(optional)</span>
                                                                    <% } %>
                                                                    <% if (action.parameters[parameter].default) { %>
                                                                    <span class="text-info default"><strong>Default</strong>: <%= action.parameters[parameter].default %></span>
                                                                    <% } %>
                                                                    <% if (action.parameters[parameter].example) { %>
                                                                    <span class="text-muted example"><strong>Example</strong>: <%= action.parameters[parameter].example %></span>
                                                                    <% } %>
                                                                    <p><%= action.parameters[parameter].description %></p>
                                                                </dd>
                                                            <% }); %>
                                                        <% } else if ( Object.keys(resource.parameters).length > 0) { %>
                                                            <% Object.keys(resource.parameters).forEach(function (parameter) { %>
                                                                <dt><%= parameter %></dt>
                                                                <dd>
                                                                    <span class="param-type"><%= resource.parameters[parameter].type %></span>
                                                                    <% if (resource.parameters[parameter].required) { %>
                                                                    <span class="required">(required)</span>
                                                                    <% } else { %>
                                                                    <span>(optional)</span>
                                                                    <% } %>
                                                                    <% if (resource.parameters[parameter].default) { %>
                                                                    <span class="text-info default"><strong>Default</strong>: <%= resource.parameters[parameter].default %></span>
                                                                    <% } %>
                                                                    <% if (resource.parameters[parameter].example) { %>
                                                                    <span class="text-muted example"><strong>Example</strong>: <%= resource.parameters[parameter].example %></span>
                                                                    <% } %>
                                                                    <p><%= resource.parameters[parameter].description %></p>
                                                                </dd>
                                                            <% }); %>
                                                        <% } %>
                                                        </dl>
                                                    </li>
                                                </ul>
                                            <% } %>
                                            <% if (action.examples) { %>
                                            <ul class="list-group">
                                                <li class="list-group-item bg-default"><strong>Examples</strong></li>
                                                <li class="list-group-item">
                                                    <ul class="list-group">
                                                    <% action.examples.forEach(function (example, example_index) { %>
                                                        <% example.requests.forEach(function (request, request_index) { %>
                                                            <li class="list-group-item request">
                                                                <strong>Request <code><%= request.name %></code></strong>
                                                                <a href="javascript:;" class="pull-right btn btn-link btn-xs snippet-toggle">SHOW</a>
                                                            </li>
                                                            <li class="list-group-item snippet">
                                                                <% if (Object.keys(request.headers).length > 0) { %>
                                                                    <% Object.keys(request.headers).forEach(function (header) { %>
                                                                        <code>&gt; <%= header %>: <%= request.headers[header].value %></code><br />
                                                                    <% }); %>
                                                                <% } %>
                                                                <% if (request.body) { %>
                                                                    <pre class="prettyprint"><%= request.body %></pre>
                                                                <% } %>
                                                            </li>
                                                        <% }) %>
                                                        <% example.responses.forEach(function (response, response_index) { %>
                                                            <li class="list-group-item response">
                                                                <strong>Response <code><%= response.name %></code></strong>
                                                                <a href="javascript:;" class="pull-right btn btn-link btn-xs snippet-toggle">SHOW</a>
                                                            </li>
                                                            <li class="list-group-item snippet">
                                                                <% if (Object.keys(response.headers).length > 0) { %>
                                                                    <% Object.keys(response.headers).forEach(function (header) { %>
                                                                        <code>&lt; <%= header %>: <%= response.headers[header].value %></code><br />
                                                                    <% }); %>
                                                                <% } %>
                                                                <% if (response.body) { %>
                                                                    <pre class="prettyprint"><%= response.body %></pre>
                                                                <% } %>
                                                            </li>
                                                        <% }) %>
                                                        </ul>
                                                    <% }); %>
                                                </li>
                                            </ul>
                                            <% } %>

                                        </div>
                                        <% }); %>
                                    <% }); %>
                                </div>
                            </div>
                        </div>
                        <% }); %>
                    </div>
                </div>
            </div>
        </div>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
        <script src="//google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
        <script>
            jQuery(function($) {
                $('#group-tab a:first').tab('show');
                $('.snippet-toggle').on("click", function(e) {
                    e.preventDefault();

                    var target = $(this).data('target');
                    $(this).parent().next().toggle();
                    if ($(this).text() == "SHOW") {
                        $(this).text("HIDE");
                    } else {
                        $(this).text("SHOW");
                    }
                });
            });
        </script>
    </body>
</html>
